# 模型配置YAML文件
base-model:
  base_url: https://api.deepseek.com/v1
  api_key: vTwpJaVSl1ctTJtRGimzcPitcKU******PdNxHRJSOLZ8lZXNvOHbXlPcw/l/tFQ==
  model_name: deepseek-chat
lang_context_model:
  base_url: https://api.deepseek.com/v1
  api_key: vTwpJaVSl1ctTJtRGimzcPitcK********OLZ8lZXNvOHbXlPcw/l/tFQ==
  model_name: deepseek-chat
deepseek-chat:
  base_url: https://api.deepseek.com/v1
  api_key: vTwpJaVSl1ctTJtRGimzcPitc*********PdNxHRJSOLZ8lZXNvOHbXlPcw/l/tFQ==
  model_name: deepseek-chat
deepseek-reasoner:
  base_url: https://api.deepseek.com/v1
  api_key: vTwpJaVSl1ctTJtRGimzcPitcKU*******M+uPdNxHRJSOLZ8lZXNvOHbXlPcw/l/tFQ==
  model_name: deepseek-reasoner